@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.scrollbar-thumb {
  background-color: gray !important;
  width: 100% !important;
}

.scrollbar-track {
  width: 4px !important;
  background: transparent !important;
}
#toggle-switch::after{
  content: '';
  @apply h-4/5 w-1/2 rounded-full bg-white absolute left-[2px] top-[1.4px] transition duration-200 ; 
}

#toggle-switch:checked::after{
  @apply translate-x-3/4;
}